:root {
  --primary-color: #ffc7c7;
  --secondary-color: #8785a2;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
body,
.navbar {
  font-family: "Poppins", sans-serif;
}

h3 {
  font-size: 25px;
}

.greeting {
  margin-top: 110px;
}
#myPhoto {
  display: block;
  margin: 10px auto;
  max-width: 230px;
  height: auto;
}
.img-fluid {
  display: block;
  margin: 10px auto;
  height: auto;
}

.navigation-links {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}

.navigation-links a {
  margin: 15px auto;
  border-radius: 4px;
  padding: 8px 10px;
  text-decoration: none;
  text-transform: capitalize;
}
.homepagebuttoms {
  display: flex;
  justify-content: flex-start;
}
.primary-link {
  border-radius: 4px;
  padding: 15px 10px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.secondary-link {
  border-radius: 4px;
  padding: 15px 10px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.allProjects {
  margin: 10px auto;
  padding: 15px;
}

.navbar .container-fluid {
  background-color: var(--primary-color);
}
.navbar .container-fluid a {
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 25px;
  padding: 10px;
  margin: 5px;
}
a {
  font-size: 20px;
  font-weight: 500;
}
.portfolio {
  margin: 40px auto;
  padding: 15px;
}
img,
svg {
  vertical-align: middle;
}
.list {
  font-weight: 400;
  font-size: 18px;
}
.bottomLine {
  background-color: #ffc7c7;
  color: #8785a2;
  margin: 15px auto;
}

@media (min-width: 370px) {
  .navigation-links a {
    margin: 12px auto;
    border-radius: 4px;
    padding: 8px 10px;
    text-decoration: none;
    text-transform: capitalize;
  }
  h5 {
    font-size: medium;
    margin: 20px;
  }
.icons {width: 30px;}
.greeting {
    margin-top: 100px;
  }
  div {margin-bottom: 10px;}
  h3 {
   margin-top: 10px;
   font-size: 20px;
  }

  a {
    font-size: 18px;
  }

  .btn {
    font-weight: 400;
    margin: 10px;
  }
  .contact-box h3{font-size: 19px; 
    font-weight: 600;
      }
  .contact-box p{font-size: 15px;}
  .contact-box .btn a { padding: 20px auto; 
  font-size: 18px;} 
  .contact-box .btn{margin: 27px auto;}
}
.contactLink {
  font-size: 18px;
  color: #8785a2;
  font-weight: 500;
}
.bottomLine {
  font-size: small;
  border-radius: 4px;
  text-align: center;
}
.contactLink {
  text-align: center;
  margin-top: 100px;
  font-size: 22px;
  color: #8785a2;
  font-weight: 500;
}

footer {
  margin: 30px auto;
}
footer .contact-box {
  padding: 20px;
  background-color: #ffc7c7;
  border-radius: 5px;
}

.btn {
  font-weight: 500;
  border-color: white;
  
}

.btn:hover {
  background-color: white;
  border-color: white;
  color: #ffc7c7;
}
.icons {width: 45px;}